$font-family-sans-serif:'Open Sans', sans-serif;
$font-family-exo: 'Exo 2', sans-serif;
$blue-bg-color:#2197DD;
$dark-blue:#0c4da2;
$blue-color:#1f98df;
$blue-bg-color-light:rgba(33,151,221, 0.8);
$orange-color:#F77A4A;


