.main-nav {
    background-color: $blue-bg-color;
    font-family: $font-family-exo;
    font-weight: 600;
    font-size: 17px;
    .container {
        @include media-breakpoint-down(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        @include media-breakpoint-up(lg) {

            display: flex !important;
        }
    }
    &__link {
        display: block;
        padding: 15px;
        color: #fff;
        text-decoration: none;

        &:hover, &:focus, &--active {
            background-color: #69baea;
            color:#fff;
            text-decoration: none;
        }
        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }
}
