.tabs {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    border-bottom: 3px solid $blue-bg-color;
    justify-content: space-between;
    &__link {
        cursor: pointer;
        text-align: center;
        padding: 10px;
        background-color: $blue-bg-color-light;
        font-family: $font-family-exo;
        transform: scale(0.97);
        color: #fff;
        &--50-wh {
            width: 50%;
        }
        &--active {
            transform: scale(1);
            background-color: $blue-bg-color;
        }
    }
}
